{% extends 'home/base.html'%}
{% load static %}
{% block content %}
 <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container col">
        <h2>
          What Says Our <span>Client</span>
        </h2>
      </div>
      <div class="client_container">
        <div class="carousel-wrap ">
          <div class="owl-carousel client_owl-carousel">
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>

                As a busy professional, finding parking after a long day used to eat into my precious free time. Since using <i>SCALABLE</i> Smart car parking's online reservation system, that's all changed! Now, I can book my spot before I even leave the office, guaranteeing a stress-free arrival at my destination. The system is easy to use and saves me so much time and frustration. I highly recommend it to anyone who values their time and wants to avoid parking hassles!</p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{% static 'parking/images/c1.jpg' %}" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                        Sarah Jones
                    </h6>
                    <p>
                        Marketing Manager.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>

                   I travel to different locations for work frequently, and parking can be a nightmare in unfamiliar areas.  <i>SCALABLE</i> Smart car parking has been a lifesaver!  Their online platform allows me to research parking availability and book a spot in advance, no matter where I'm going. It's given me peace of mind knowing I have a secure parking space waiting, even in busy areas.  Plus, the system is user-friendly and works seamlessly across all my devices.</p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{% static 'parking/images/c2.jpg' %}" alt="client" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                        David Lee
                    </h6>
                    <p>
                        Architect
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock  %}
