{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'parking/images/logo.png' %}"
                class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;" alt="Logo"></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'client' %}">Testimonials</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'why' %}">Why us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'payment_home' %}">Payments</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'all_parking' %}">Parkings</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="park" placeholder="Find Near parking"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 text-light" type="submit">Search </button>
        </form>


    </div>
</nav>